body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
}

.grid-container {
    display: flex;
    width: 1002px;
    height: 1002px;
    background-color: black;
    /* gap: 2px; */
    flex-wrap: wrap;
    padding: 2px;
}

.grid-tile {
/* width: 48px;
height: 48px; */
background-color: gray;
/* border: 2px solid black; */
flex-shrink: 0;
/* flex-grow: 1; */
/* padding: 2px; */
/* border: 2px solid blue; */
/* margin: 1px; */
}