body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    width: 1000px;
    height: 1000px;
    background-color: black;
    gap: 2px;
    flex-wrap: wrap;
    /* padding: 2px; */
}

.grid-tile {
width: 50px;
height: 50px;
background-color: gray;
/* border: 2px solid black; */
flex-shrink: 0;
}