body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
}

.game-space {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
}

.grid-container {
    display: flex;
    width: 1002px;
    height: 1002px;
    background-color: rgb(186, 186, 186);
    /* gap: 2px; */
    flex-wrap: wrap;
    padding: 2px;
}

.grid-tile {
/* width: 48px;
height: 48px; */
background-color: gray;
/* border: 2px solid black; */
flex-shrink: 0;
/* flex-grow: 1; */
/* padding: 2px; */
/* border: 2px solid blue; */
/* margin: 1px; */
}

.panel {
    height: 1002px;
    width: 400px;
    background-color: rgb(186, 186, 186);
    display: flex;
    justify-content: center;
    border-radius: 8px;

    /* margin-right: 20px; */
}

.input-box {
    width: 300px;
    height: 100px;
    background-color: gray;
    margin-top: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

select {
    width: 80px;
}

.grid-size {
    margin: 0;
    margin-bottom: 7px;
    color: white;
}