body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
}

.game-space {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
}

.grid-container {
    display: flex;
    width: 1002px;
    height: 1002px;
    background-color: rgb(186, 186, 186);
    /* gap: 2px; */
    flex-wrap: wrap;
    padding: 2px;
}

.grid-tile {
/* width: 48px;
height: 48px; */
background-color: gray;
/* border: 2px solid black; */
flex-shrink: 0;
/* flex-grow: 1; */
/* padding: 2px; */
/* border: 2px solid blue; */
/* margin: 1px; */
}

.panel {
    height: 1002px;
    width: 400px;
    background-color: rgb(186, 186, 186);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;

    /* margin-right: 20px; */
}

.input-box {
    width: 300px;
    height: 100px;
    background-color: gray;
    margin-top: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

select {
    width: 100px;
    font-size: 18px;
}

.grid-size {
    margin: 0;
    margin-bottom: 7px;
    color: white;
}

.swatch-panel {
    background-color: gray;
    width: 300px;
    height: 600px;
    margin-bottom: 50px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.swatch {
    width: 30px;
    height: 30px;
    /* background-color: black; */
    margin-bottom: 30px;
    margin-left: 30px;
}

#red {
    margin-top: 30px;
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: #50e030;
}

#blue {
    background-color: #1958fa;
}

#purple {
    background-color: purple;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}